# Lattice Radiant files to be ignored in src/, radia
nt_project/, and sim/

src/*.html
src/impl*/
src/*.xml
src/.build_status
src/.run_manager.ini
src/.recovery
src/.spread_sheet.ini
src/.spreadsheet_view.ini
src/*.dir/
src/*.log
src/*.tcl
src/*.ccl
src/*.srp
src/*.dmp
src/._Real_._Math_.vhd

radiant_project/*.html
radiant_project/impl*/
radiant_project/*.xml
radiant_project/.build_status
radiant_project/.run_manager.ini
radiant_project/.recovery
radiant_project/.spread_sheet.ini
radiant_project/.spreadsheet_view.ini
radiant_project/*.dir/
radiant_project/*.log
radiant_project/*.tcl
radiant_project/*.ccl
radiant_project/*.srp
radiant_project/*.dmp
radiant_project/._Real_._Math_.vhd

sim/*.html
sim/impl*/
sim/*.xml
sim/.build_status
sim/.run_manager.ini
sim/.recovery
sim/.spread_sheet.ini
sim/.spreadsheet_view.ini
sim/*.dir/
sim/*.log
sim/*.tcl
sim/*.ccl
sim/*.srp
sim/*.dmp
sim/._Real_._Math_.vhd
git rm -r --cached src/ radient_project/ sim/
